@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 340px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: tab-land) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: tab-port) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: big-desktop) {
  html {
    font-size: 75%;
  }
}

::-moz-selection {
  background-color: #03045e;
  color: #fff;
}

::selection {
  background-color: #03045e;
  color: #fff;
}

ul > li {
  list-style: none;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

.case {
  max-width: 80%;
  margin: 0 auto;
}

.range-filter-input {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #03045e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.range-filter-input:hover {
  cursor: pointer;
  opacity: 1;
}

.range-filter-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

body {
  color: #1b2701;
  font-family: "Roboto";
  font-size: 1.6rem;
  background: #e0e0e0;
  padding: 1.5rem 0;
}

.text-green {
  color: #268626;
}

.text-blue {
  color: #03045e;
}

.f-fat {
  font-weight: 600;
}

.heading {
  font-family: inherit;
  color: #000;
}

.heading__primary {
  font-size: 3.5rem;
  font-weight: 400;
}

.heading__secondary {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.heading__tart {
  font-size: 1.4rem;
  font-weight: 300;
}

.my-radius {
  border-radius: 1rem;
}

.my-radius-b {
  border-radius: 0 0 1rem 1rem;
}

.outline-none {
  outline: none;
}

.img-cover {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-grey {
  background-color: #f4f4f4;
}

.bg-white-tp {
  background-color: rgba(255, 255, 255, 0.95);
}

.my-link {
  font-size: 1.4rem;
  color: #0077b6;
}

.my-link:hover {
  color: #0077b6;
  text-decoration: underline;
}

.my-link-black {
  font-family: "Roboto";
  font-size: 2rem;
  color: #000;
}

.my-link-black:hover {
  color: #0077b6;
  text-decoration: underline;
}

.name-link-black {
  font-size: 1.8rem;
  color: #000;
}

.name-link-black:hover {
  color: #0077b6;
  text-decoration: underline;
}

.read {
  max-width: 65ch;
}

.read-post {
  max-width: 60ch;
}

.read-sm {
  max-width: 35ch;
}

.t-xlg {
  font-size: 2.5rem;
}

.t-lg {
  font-size: 1.8rem;
}

.t-md {
  font-size: 2rem;
}

.t-small {
  font-size: 1.4rem !important;
}

.t-mini {
  font-size: 1.2rem !important;
}

.t-tiny {
  font-size: 1rem !important;
  font-weight: 600;
}

.t-bold {
  font-weight: 600;
}

.t-bolder {
  font-weight: 700;
}

.t-italic {
  font-style: italic;
}

.lh-16 {
  line-height: 16px;
}

.u-w-15 {
  width: 15%;
}

.radius-left-50 {
  border-radius: 50rem 0 0 50rem !important;
}

.radius-right-50 {
  border-radius: 0 50rem 50rem 0 !important;
}

.u-mt-2 {
  margin-top: 2rem;
}

.fadeOut {
  -webkit-animation: fadeout 3s ease-in-out forwards;
          animation: fadeout 3s ease-in-out forwards;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form-control {
  font-size: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-width: 2px;
}

.form-control:focus {
  border: 2px solid #0077b6;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  font-size: inherit;
}

.form-control:-ms-input-placeholder {
  font-size: inherit;
}

.form-control::-ms-input-placeholder {
  font-size: inherit;
}

.form-control::placeholder {
  font-size: inherit;
}

input[type="submit"] {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.f-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooltip-inner {
  font-weight: 400;
  color: #fff;
  background-color: #0077b6;
  font-size: 1.6rem;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #0077b6;
}

.custom-control-input-green:focus ~ .custom-control-label::before {
  border-color: #28a745 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input-green:checked ~ .custom-control-label::before {
  border-color: #28a745 !important;
  background-color: #28a745 !important;
}

.custom-control-input-green:focus:not(:checked)
~ .custom-control-label::before {
  border-color: #5bd778 !important;
}

.custom-control-input-green:not(:disabled):active
~ .custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}

.custom-control-label::before {
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
}

.custom-control-label::after {
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
}

.valid-feedback,
.invalid-feedback {
  display: block;
  opacity: 0;
  position: absolute;
}

.my-btn {
  padding: 1rem 2rem;
  background-color: #0077b6;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.my-btn:hover {
  color: #fff;
  background-color: #03045e;
}

.my-btn-lg {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  background-color: #0077b6;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.my-btn-lg:hover {
  color: #fff;
  background-color: #03045e;
}

.my-btn-lg i {
  font-size: 2rem;
}

@media only screen and (max-width: 575px) {
  .my-btn-lg i {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .my-btn-lg {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .my-btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

.drops {
  position: relative;
  cursor: pointer;
}

.drops__title {
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 99;
}

.drops__title--primary {
  background-color: #0077b6;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.drops__title--primary i {
  font-size: 2rem;
}

.drops__list {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  background-color: #00b4d8;
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.drops__list li:hover {
  color: #0077b6;
}

.drops__list--small {
  font-size: 1.4rem;
  width: 10rem;
}

.drops__list--small li {
  margin-bottom: 3px;
}

.drops__list--big {
  width: 100%;
  font-size: 1.8rem;
}

.drops__list--big li {
  padding-top: 1rem;
  margin-bottom: 5px;
}

.drops:hover .drops__list {
  opacity: 1;
  visibility: visible;
  top: 2.5rem;
}

.drops:hover .drops__list--big {
  top: 3.5rem;
}

header {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 575px) {
  header {
    margin-bottom: 0;
  }
}

.header-bottom {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1020;
  background-color: #0077b6;
  -webkit-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 575px) {
  .header-bottom {
    top: unset;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}

.header-bottom__menu {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 575px) {
  .header-bottom__menu {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header-bottom__item {
  padding: 1rem 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-bottom__item.active {
  background-color: #00b4d8;
}

.header-bottom__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 575px) {
  .header-bottom__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-bottom__link i {
  color: #fff;
  font-size: 1.8rem;
  margin-right: 1rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media only screen and (max-width: 575px) {
  .header-bottom__link i {
    font-size: 2.5rem;
    margin-right: 0rem;
  }
}

.header-bottom__link span {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media only screen and (max-width: 575px) {
  .header-bottom__link span {
    font-size: 1.2rem;
  }
}

.header-bottom--index .header-bottom__item:not(:nth-child(1)):hover .header-bottom__link i,
.header-bottom--index .header-bottom__item:not(:nth-child(1)):hover .header-bottom__link span {
  color: #90e0ef;
}

.header-bottom--stat .header-bottom__item:not(:nth-child(2)):hover .header-bottom__link i,
.header-bottom--stat .header-bottom__item:not(:nth-child(2)):hover .header-bottom__link span {
  color: #90e0ef;
}

.header-bottom--news .header-bottom__item:not(:nth-child(3)):hover .header-bottom__link i,
.header-bottom--news .header-bottom__item:not(:nth-child(3)):hover .header-bottom__link span {
  color: #90e0ef;
}

.header-bottom--help .header-bottom__item:not(:nth-child(4)):hover .header-bottom__link i,
.header-bottom--help .header-bottom__item:not(:nth-child(4)):hover .header-bottom__link span {
  color: #90e0ef;
}

.footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

.footer .container {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #000;
  padding: 3rem 5rem;
}

@media only screen and (max-width: 400px) {
  .footer .container {
    max-width: 95%;
  }
}

.footer__text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 25px;
}

.footer__copyright {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links i {
  margin-right: 1rem;
  font-size: 2.5rem;
}

section .container {
  background-color: #fff;
  color: #000;
  padding: 2rem 5rem;
}

@media only screen and (max-width: 991px) {
  section .container {
    max-width: 95%;
  }
}

.heading-banner,
.blogs-section {
  font-family: "Roboto";
}

.heading-banner__text,
.blogs-section__text {
  font-size: 4rem;
  font-weight: 300;
}

@media only screen and (max-width: 575px) {
  .heading-banner__text,
  .blogs-section__text {
    font-size: 2.5rem;
    font-weight: 400;
  }
}

.heading-banner__text--sm,
.blogs-section__text--sm {
  font-size: 2.5rem;
  font-weight: 400;
}

.hero-area {
  margin: 2rem 0;
}

.hero-area .container {
  padding: 0 2rem;
}

@media only screen and (max-width: 575px) {
  .hero-area [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.lif-card {
  padding: 2rem 0 1rem 0;
  min-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 1rem;
  background-color: #caf0f8;
}

.lif-card__img {
  width: 10rem;
  border-radius: 50%;
  margin: 0 auto;
}

.lif-card__body {
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  color: #000;
}

@media only screen and (max-width: 575px) {
  .lif-card__body {
    font-size: 1.6rem;
  }
}

.blogs-section {
  margin: 2rem 0;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 30rem;
  background-color: #caf0f8;
}

.blog-card__up {
  height: 17rem;
}

.blog-card__up {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-card__up--1 {
  background-image: url("../img/vaccine-news.jpg");
}

.blog-card__up--2 {
  background-image: url("../img/news-2.jpg");
}

.blog-card__up--3 {
  background-image: url("../img/news-3.jpg");
}

.blog-card__up--4 {
  background-image: url("../img/news-4.jpg");
}

.blog-card__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-card__body {
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-card__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
}

.blog-card__title a {
  color: #03045e;
}

.blog-card__title a:hover {
  text-decoration: underline;
}

.blog-card__date {
  font-size: 1.4rem;
  font-style: italic;
  margin: 0.5rem 0;
}

.blog-card__desc {
  line-height: 20px;
}

.count-card {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #caf0f8;
}

.count-card h3 {
  color: #fff;
  padding: 5px 0;
  margin: 0 0;
  font-size: 2rem;
  font-weight: 500;
}

.count-card__body {
  font-size: 4.5rem;
  font-weight: 300;
}

.count-card box-icon {
  width: 4rem;
  height: 4rem;
}

.count-card:hover box-icon {
  fill: #0077b6;
}

.count-card__loader {
  width: 2rem;
  height: 2rem;
  fill: #03045e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.count-card--blue h3 {
  background-color: #03045e;
}

.count-card--blue .count-card__body {
  color: #03045e;
}

.count-card--orange h3 {
  background-color: #f68544;
}

.count-card--orange .count-card__body {
  color: #c9500a;
}

.count-card--icon h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #03045e;
}

.count-card--icon h3 box-icon {
  fill: #fff;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.count-card--icon:hover {
  cursor: pointer;
  background-color: #90e0ef;
}

h1 {
  color: #333;
  font-size: 28px;
  line-height: 42px;
  margin: 0 0 15px;
  text-align: center;
}

.content {
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
  padding: 30px 30px 20px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 15px;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  border: 1px solid #34495e;
}

.select2.select2-container {
  width: 100% !important;
}

.select2.select2-container .select2-selection {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 34px;
  margin-bottom: 15px;
  outline: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  color: #333;
  line-height: 32px;
  padding-right: 33px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
  background: #f8f8f8;
  border-left: 1px solid #ccc;
  border-radius: 0 3px 3px 0;
  height: 32px;
  width: 33px;
}

.select2.select2-container.select2-container--open
.select2-selection.select2-selection--single {
  background: #f8f8f8;
}

.select2.select2-container.select2-container--open
.select2-selection.select2-selection--single
.select2-selection__arrow {
  border-radius: 0 3px 0 0;
}

.select2.select2-container.select2-container--open
.select2-selection.select2-selection--multiple {
  border: 1px solid #34495e;
}

.select2.select2-container.select2-container--focus .select2-selection {
  border: 1px solid #34495e;
}

.select2.select2-container .select2-selection--multiple {
  height: auto;
  min-height: 34px;
}

.select2.select2-container
.select2-selection--multiple
.select2-search--inline
.select2-search__field {
  margin-top: 0;
  height: 32px;
}

.select2.select2-container
.select2-selection--multiple
.select2-selection__rendered {
  display: block;
  padding: 0 4px;
  line-height: 29px;
}

.select2.select2-container
.select2-selection--multiple
.select2-selection__choice {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 4px 4px 0 0;
  padding: 0 6px 0 22px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  position: relative;
}

.select2.select2-container
.select2-selection--multiple
.select2-selection__choice
.select2-selection__choice__remove {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  margin: 0;
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  font-size: 16px;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: -5px;
}

.select2-container .select2-dropdown .select2-search {
  padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #34495e;
  border-bottom: none;
  padding: 4px 6px;
}

.select2-container .select2-dropdown .select2-results {
  padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #34495e;
}

.select2-container
.select2-dropdown
.select2-results
ul
.select2-results__option--highlighted[aria-selected] {
  background-color: #3498db;
}

.big-drop {
  width: 600px !important;
}
