*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 340px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: tab-land) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: tab-port) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: big-desktop) {
  html {
    font-size: 75%;
  }
}

::-moz-selection {
  background-color: #03045e;
  color: #fff;
}

::selection {
  background-color: #03045e;
  color: #fff;
}

ul > li {
  list-style: none;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

.case {
  max-width: 80%;
  margin: 0 auto;
}

.range-filter-input {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #03045e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.range-filter-input:hover {
  cursor: pointer;
  opacity: 1;
}

.range-filter-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

body {
  color: #1b2701;
  font-family: "Poppins", -apple-system;
  font-size: 1.6rem;
}

.text-green {
  color: #268626;
}

.text-blue {
  color: #03045e;
}

.f-fat {
  font-weight: 600;
}

.heading {
  font-family: inherit;
  color: #000;
}

.heading__primary {
  font-size: 3.5rem;
  font-weight: 400;
}

.heading__secondary {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.heading__tart {
  font-size: 1.4rem;
  font-weight: 300;
}

.my-radius {
  border-radius: 1rem;
}

.my-radius-b {
  border-radius: 0 0 1rem 1rem;
}

.outline-none {
  outline: none;
}

.img-cover {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-grey {
  background-color: #f4f4f4;
}

.bg-white-tp {
  background-color: rgba(255, 255, 255, 0.95);
}

.my-link {
  font-size: 1.4rem;
  color: #0077b6;
}

.my-link:hover {
  color: #0077b6;
  text-decoration: underline;
}

.my-link-black {
  font-size: 1.4rem;
  color: inherit;
}

.my-link-black:hover {
  color: #0077b6;
  text-decoration: underline;
}

.name-link-black {
  font-size: 1.8rem;
  color: red;
}

.name-link-black:hover {
  color: #0077b6;
  text-decoration: underline;
}

.read {
  max-width: 65ch;
}

.read-post {
  max-width: 60ch;
}

.read-sm {
  max-width: 35ch;
}

.t-xlg {
  font-size: 2.5rem;
}

.t-lg {
  font-size: 1.8rem;
}

.t-md {
  font-size: 2rem;
}

.t-small {
  font-size: 1.4rem !important;
}

.t-mini {
  font-size: 1.2rem !important;
}

.t-tiny {
  font-size: 1rem !important;
  font-weight: 600;
}

.t-bold {
  font-weight: 600;
}

.t-bolder {
  font-weight: 700;
}

.t-italic {
  font-style: italic;
}

.lh-16 {
  line-height: 16px;
}

.u-w-15 {
  width: 15%;
}

.radius-left-50 {
  border-radius: 50rem 0 0 50rem !important;
}

.radius-right-50 {
  border-radius: 0 50rem 50rem 0 !important;
}

.form-control {
  font-size: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-width: 2px;
}

.form-control:focus {
  border: 2px solid #0077b6;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  font-size: inherit;
}

.form-control:-ms-input-placeholder {
  font-size: inherit;
}

.form-control::-ms-input-placeholder {
  font-size: inherit;
}

.form-control::placeholder {
  font-size: inherit;
}

input[type="submit"] {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.f-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooltip-inner {
  font-weight: 400;
  color: #fff;
  background-color: #0077b6;
  font-size: 1.6rem;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #0077b6;
}

.custom-control-input-green:focus ~ .custom-control-label::before {
  border-color: #28a745 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input-green:checked ~ .custom-control-label::before {
  border-color: #28a745 !important;
  background-color: #28a745 !important;
}

.custom-control-input-green:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #5bd778 !important;
}

.custom-control-input-green:not(:disabled):active ~ .custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}

.custom-control-label::before {
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
}

.custom-control-label::after {
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
}

.valid-feedback,
.invalid-feedback {
  display: block;
  opacity: 0;
  position: absolute;
}

.my-btn {
  padding: 1rem 2rem;
  background-color: #0077b6;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.my-btn:hover {
  color: #fff;
  background-color: #03045e;
}

.my-btn-lg {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #0077b6;
  color: #fff;
}

.my-btn-lg:hover {
  color: #fff;
  background-color: #03045e;
}

.my-btn-lg i {
  font-size: 2rem;
}

@media only screen and (max-width: 575px) {
  .my-btn-lg i {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .my-btn-lg {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .my-btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
}

.banner--big {
  min-height: 15rem;
}

.banner__title {
  font-size: 2rem;
  font-weight: 300;
}

@media only screen and (max-width: 767px) {
  .banner__title--big {
    font-size: 2rem;
  }
}

.banner__cta {
  font-size: 1.6rem;
  font-weight: 500;
}

.banner__img-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.banner__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sd-ban:focus {
  outline: none;
}

.sd-ban__title {
  text-align: center;
  background-color: #0077b6;
  color: #fff;
  margin-bottom: 0;
  padding: 1.5rem 0;
  font-size: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.sd-ban__inner {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sd-ban__name {
  font-size: 2.2rem;
  font-weight: 400;
}

.sd-ban__tag {
  font-size: 1.4rem;
}

.sd-ban__price {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.sd-ban__price span {
  font-size: 2.2rem;
  font-weight: 500;
}

.sd-ban a {
  color: #fff;
}

.side-slider {
  position: relative;
  background-color: #fff;
}

.side-slider .slick-prev,
.side-slider .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.side-slider .slick-prev i,
.side-slider .slick-next i {
  font-size: 2rem;
  color: #000;
}

.side-slider .slick-prev {
  left: 0;
}

.side-slider .slick-next {
  right: 0;
}

.sp-hori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
}

.sp-hori--sm {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (min-width: 430px) and (max-width: 575px) {
  .sp-hori {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.sp-hori__info {
  margin: 0 auto;
}

@media only screen and (min-width: 430px) and (max-width: 575px) {
  .sp-hori__info {
    margin: 0 0;
  }
}

.sp-hori__name {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-hori__tag {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.sp-hori__tag:hover {
  color: #0077b6;
  cursor: pointer;
}

.sp-hori__price span {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-hori__price del {
  font-size: 1.4rem;
}

.sp-hori__cta {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sp-hori__cta a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.sp-hori__cta i {
  width: 80%;
  margin: 0 auto;
  color: #0077b6;
  background-color: #fff;
  padding: 2px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.sp-hori__cta i:hover {
  cursor: pointer;
}

.card-img-side {
  -o-object-fit: cover;
     object-fit: cover;
  height: 14rem;
  width: 14rem;
  background-color: #f4f4f4;
}

.card-img-sm {
  -o-object-fit: cover;
     object-fit: cover;
  height: 8rem;
  width: 8rem;
  background-color: #f4f4f4;
}

.card-img-sm--white {
  background-color: #fff;
}

.group-slider {
  position: relative;
  background-color: #fff;
}

.group-slider .slick-prev,
.group-slider .slick-next {
  position: absolute;
  top: -4rem;
  z-index: 1;
  cursor: pointer;
}

.group-slider .slick-prev i,
.group-slider .slick-next i {
  font-size: 2rem;
  color: #000;
}

.group-slider .slick-prev {
  right: 2rem;
}

.group-slider .slick-next {
  right: 0rem;
}

.bg-ban__subtitle {
  font-size: 1.8rem;
  font-weight: 400;
}

@media only screen and (max-width: 450px) {
  .bg-ban__subtitle {
    font-size: 1.2rem;
  }
}

.bg-ban__title {
  font-size: 4rem;
  font-weight: 300;
  margin: 0 0 1.5rem 0;
}

@media only screen and (max-width: 767px) {
  .bg-ban__title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

@media only screen and (max-width: 575px) {
  .bg-ban__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.bg-ban__img-container {
  width: 45rem;
}

.group-slider-vert div:focus, .cart-slider div:focus,
.group-slider-vert a:focus,
.cart-slider a:focus {
  outline: none;
}

.group-slider-vert .slick-prev, .cart-slider .slick-prev,
.group-slider-vert .slick-next,
.cart-slider .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.group-slider-vert .slick-prev i, .cart-slider .slick-prev i,
.group-slider-vert .slick-next i,
.cart-slider .slick-next i {
  font-size: 2.5rem;
  color: #000;
}

.group-slider-vert .slick-prev, .cart-slider .slick-prev {
  left: -3rem;
}


.group-slider-vert .slick-next,
.cart-slider .slick-next {
  right: -3rem;
}

.cart-slider .slick-prev {
  left: 0rem;
}

.cart-slider .slick-next {
  right: 0rem;
}

.sp-vert {
  margin-right: 1.5rem;
  border-radius: 5px;
}

.sp-vert.card {
  border: none;
}

.sp-vert__info {
  margin: 0 auto;
}

@media only screen and (min-width: 430px) and (max-width: 575px) {
  .sp-vert__info {
    margin: 0 0;
  }
}

.sp-vert__name {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-vert__tag {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.sp-vert__tag:hover {
  color: #0077b6;
  cursor: pointer;
}

.sp-vert__price span {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-vert__price del {
  font-size: 1.4rem;
}

.sp-vert__cta {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sp-vert__cta a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.sp-vert__cta i {
  font-size: 2rem;
  color: #0077b6;
  background-color: #fff;
  padding: 2px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.sp-vert__cta i:hover {
  cursor: pointer;
}

.sp-vert small {
  font-size: 1.2rem;
}

.sp-vth__info {
  text-align: center;
}

.sp-vth__name {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-vth__tag {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.sp-vth__tag:hover {
  color: #0077b6;
  cursor: pointer;
}

.sp-vth__price span {
  font-size: 1.8rem;
  font-weight: 500;
}

.sp-vth__price del {
  font-size: 1.4rem;
}

.sp-vth__cta {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sp-vth__cta a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.sp-vth__cta i {
  font-size: 2rem;
  color: #0077b6;
  background-color: #fff;
  padding: 2px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.sp-vth__cta i:hover {
  cursor: pointer;
}

.sp-vth small {
  font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
  .sp-vth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sp-vth img {
    width: 8rem;
    height: 8rem;
  }
  .sp-vth__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sp-vth__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sp-vth__cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 100%;
  }
  .sp-vth__pna {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sp-vth__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 550px) and (max-width: 680px) {
  .sp-vth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sp-vth__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .sp-vth__cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.card-img-vert {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 575px) {
  .card-img-vert {
    widht: 8rem;
    height: 8rem;
  }
}

.testimonials div:focus {
  outline: none;
}

.testimonials__img {
  width: 100% !important;
}

@media only screen and (max-width: 768px) {
  .testimonials__img {
    width: 50% !important;
  }
}

.testimonials .slick-prev,
.testimonials .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.testimonials .slick-prev i,
.testimonials .slick-next i {
  font-size: 2rem;
  color: #000;
}

.testimonials .slick-prev {
  left: 0;
}

.testimonials .slick-next {
  right: 0;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.blog-card__up {
  height: 17rem;
}

.blog-card__up {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-card__up--1 {
  background-image: url(../../img/fresh-farm-sm.jpg);
}

.blog-card__up--2 {
  background-image: url(../../img/blog-1.jpg);
  background-position: top;
}

.blog-card__up--3 {
  background-image: url(../../img/blog-2.jpg);
}

.blog-card__up--4 {
  background-image: url(../../img/blog-3.jpg);
}

.blog-card__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-card__info {
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-card__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 20px;
  color: #03045e;
  margin-bottom: 0;
}

.blog-card__title a:hover {
  text-decoration: underline;
}

.blog-card__date {
  font-size: 1.4rem;
  font-style: italic;
  margin: 0.5rem 0;
}

.blog-card__desc {
  line-height: 20px;
}

.product-variation-slider {
  margin-top: 2rem;
  padding: 0 2rem;
}

.s-controls-side div:focus {
  outline: none;
}

.s-controls-side .slick-prev,
.s-controls-side .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.s-controls-side .slick-prev i,
.s-controls-side .slick-next i {
  font-size: 2rem;
  color: #000;
}

.s-controls-side .slick-prev {
  left: 0;
}

.s-controls-side .slick-next {
  right: 0;
}

.drops {
  position: relative;
  cursor: pointer;
}

.drops__title {
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 99;
}

.drops__title--primary {
  background-color: #0077b6;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.drops__title--primary i {
  font-size: 2rem;
}

.drops__list {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  background-color: #00b4d8;
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.drops__list li:hover {
  color: #0077b6;
}

.drops__list--small {
  font-size: 1.4rem;
  width: 10rem;
}

.drops__list--small li {
  margin-bottom: 3px;
}

.drops__list--big {
  width: 100%;
  font-size: 1.8rem;
}

.drops__list--big li {
  padding-top: 1rem;
  margin-bottom: 5px;
}

.drops:hover .drops__list {
  opacity: 1;
  visibility: visible;
  top: 2.5rem;
}

.drops:hover .drops__list--big {
  top: 3.5rem;
}

.header-bottom {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #0077b6;
  -webkit-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 575px) {
  .header-bottom {
    top: unset;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 1020;
  }
}

.header-bottom__menu {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 575px) {
  .header-bottom__menu {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header-bottom__item {
  padding: 1rem 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-bottom__item.active {
  background-color: #00b4d8;
}

.header-bottom__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 575px) {
  .header-bottom__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-bottom__link i {
  color: #fff;
  font-size: 1.8rem;
  margin-right: 1rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media only screen and (max-width: 575px) {
  .header-bottom__link i {
    font-size: 2.5rem;
    margin-right: 0rem;
  }
}

.header-bottom__link span {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media only screen and (max-width: 575px) {
  .header-bottom__link span {
    font-size: 1.2rem;
  }
}

.header-bottom--index .header-bottom__item:not(:nth-child(1)):hover .header-bottom__link i,
.header-bottom--index .header-bottom__item:not(:nth-child(1)):hover .header-bottom__link span {
  color: #90e0ef;
}

.header-bottom--stat .header-bottom__item:not(:nth-child(2)):hover .header-bottom__link i,
.header-bottom--stat .header-bottom__item:not(:nth-child(2)):hover .header-bottom__link span {
  color: #90e0ef;
}

.header-bottom--news .header-bottom__item:not(:nth-child(3)):hover .header-bottom__link i,
.header-bottom--news .header-bottom__item:not(:nth-child(3)):hover .header-bottom__link span {
  color: #90e0ef;
}

.header-bottom--help .header-bottom__item:not(:nth-child(4)):hover .header-bottom__link i,
.header-bottom--help .header-bottom__item:not(:nth-child(4)):hover .header-bottom__link span {
  color: #90e0ef;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .footer [class*="col-"] {
    text-align: center;
  }
}

.footer__icon {
  font-size: 40px;
  margin-right: 20px;
}

.footer__icon a {
  color: inherit;
}

.footer__title {
  font-size: 20px;
  font-weight: bold;
  color: #03045e;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (max-width: 991px) {
  .footer__items {
    margin-bottom: 30px;
  }
}

.footer__items a {
  color: inherit;
}

.footer__items a:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .info__img {
    display: none;
    visibility: hidden;
  }
  .info-sm__img {
    color: #fff;
    font-size: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .info-sm__img--1 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/explore.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/explore.jpg");
  }
  .info-sm__img--2 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/create.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/create.jpg");
  }
  .info-sm__img--3 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/exp.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/exp.jpg");
  }
}

.section-banner {
  margin: 5rem 0;
}

.product-highlights {
  background-color: #f4f4f4;
  padding: 3rem 0;
}

.product-highlights .case {
  max-width: 90%;
}

.big-banner-section {
  background-color: #f4f4f4;
  margin: 5rem 0;
}

.famous-section {
  margin: 5rem 0;
  padding: 5rem 0;
}

.testimonials-section {
  margin: 5rem;
}

.testimonials-section .test-comment {
  max-width: 65ch;
  font-weight: 600;
  color: #777777;
  font-size: 2.5rem;
  line-height: 32.5px;
}

.blogs-section {
  padding: 5rem 0 2rem 0;
  background-color: #f4f4f4;
}
