$color-green: rgb(38, 134, 38);
$color-red: #dc3545;

$color-primary: #0077b6;
$color-primary-light: #00b4d8;
$color-primary-lighter: #90e0ef;
$color-primary-lightest: #caf0f8;
$color-primary-dark: #03045e;

$color-secondary: #e76f51;
$color-secondary-dark: #da5204;
// $color-secondary-light:
// $color-secondary-dark:

// ::: grey-scale :::
$color-white: #fff;
$color-grey: #f4f4f4;
$color-black: #000;
$color-ash: #e3e3e3;
$color-muted: #dbdbdb;

// ::: shadows :::
$shadow-subtle: 2px 2px 2px rgba($color-black, 0.2);
// $shadow-neo-inset: inset -20px 20px 60px #d9d9d9, inset 20px -20px 60px #ffffff;
// $shadow-neo: -20px -20px 60px #d9d9d9, 20px 20px 60px #ffffff;
// // ::: neomorphic white bg shadow
// border-radius: 50px;
// background: #ffffff;
// box-shadow: inset -20px 20px 60px #d9d9d9,
//             inset 20px -20px 60px #ffffff;
