@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "base/bs-override";

@import "components/buttons";
// @import "components/banner";
@import "components/drops";

@import "layout/header";
// @import "layout/hero";
@import "layout/footer";

@import "pages/home";
// @import "pages/cart";
@import "pages/s-blog";
// @import "pages/single-product";
// @import "pages/contact";
// @import "pages/registration";
// @import "pages/shop";
@import "pages/all-blogs";

@import "vendors/select2-styles";
// @import "themes";
