.drops {
  position: relative;
  cursor: pointer;

  &__title {
    font-size: inherit;
    @include flexCenter();
    position: relative;
    z-index: 99;
    &--primary {
      background-color: $color-primary;
      color: $color-white;
      padding: 1rem 2rem;
      border-radius: 1rem;

      & i {
        font-size: 2rem;
      }
    }
  }
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 3;

    background-color: $color-primary-light;
    border-radius: 0.5rem;

    padding: 1rem;
    transition: all 0.2s;

    & li {
      &:hover {
        color: $color-primary;
      }
    }

    &--small {
      font-size: 1.4rem;
      width: 10rem;

      & li {
        margin-bottom: 3px;
      }
    }

    &--big {
      width: 100%;
      font-size: 1.8rem;

      & li {
        padding-top: 1rem;
        margin-bottom: 5px;
      }
    }
  }
  &:hover &__list {
    opacity: 1;
    visibility: visible;
    top: 2.5rem;
  }

  &:hover &__list--big {
    top: 3.5rem;
  }
}
