*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px

  @include respondMax(340px) {
    font-size: 50%;
  }

  @include respondMax(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }

  @include respondMax(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include respondMax(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

::selection {
  background-color: $color-primary-dark;
  color: $color-white;
}

ul > li {
  list-style: none;
}
a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  // color: $color-white;
  color: inherit;
  outline: none;
  border: none;
}

.case {
  max-width: 80%;
  margin: 0 auto;
}

.range-filter-input {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: $color-primary-dark;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }
}
