.form-control {
  font-size: 2rem;
  box-shadow: none;
  border-width: 2px;

  &:focus {
    border: 2px solid $color-primary;
    box-shadow: none;
  }
  &::placeholder {
    font-size: inherit;
  }
}

input[type="submit"] {
  border: none;
  outline: none;
  box-shadow: none;
}

.f-center {
  @include flexCenter();
}

// ::: bootstrap overrides ::

// ::: tooltip styles ::
// .tooltip {
// }
.tooltip-inner {
  font-weight: 400;
  color: $color-white;
  background-color: $color-primary;

  // position: relative;
  // z-index: 999;
  // opacity: 1;

  font-size: 1.6rem;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: $color-primary;
}

// .bs-tooltip-auto[x-placement^="right"] .arrow::before,
// .bs-tooltip-right .arrow::before {
//   border-right-color: red;
// }
// .bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
// .bs-tooltip-bottom .arrow::before {
//   border-bottom-color: red;
// }
// .bs-tooltip-auto[x-placement^="left"] .arrow::before,
// .bs-tooltip-left .arrow::before {
//   border-left-color: red;
// }

// ::: boostrap checkbox color :::
// .custom-control-input,
// .custom-control-input:focus {
//   box-shadow: none;

// }
// .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
//   border-color: $color-primary;
//   background-color: $color-primary;
//   box-shadow: none;
// }
// .custom-control-label::after {
// }

.custom-control-input-green:focus ~ .custom-control-label::before {
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input-green:checked ~ .custom-control-label::before {
  border-color: #28a745 !important;
  background-color: #28a745 !important;
}

.custom-control-input-green:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #5bd778 !important;
}

.custom-control-input-green:not(:disabled):active
  ~ .custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}

.custom-control-label::before {
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
}

.custom-control-label::after {
  width: 2rem;
  height: 2rem;
  left: -2.5rem;
}

// ::: form validation :::
.valid-feedback,
.invalid-feedback {
  display: block;
  opacity: 0;
  position: absolute;
}
