@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  color: #1b2701;
  font-family: "Roboto";
  font-size: 1.6rem;
  background: #e0e0e0;
  padding: 1.5rem 0;
  line-height: 21px;
}

.text-green {
  color: $color-green;
}
.text-blue {
  color: $color-primary-dark;
}
.f-fat {
  font-weight: 600;
}

.heading {
  font-family: inherit;
  color: $color-black;

  &__primary {
    font-size: 3.5rem;
    font-weight: 400;
  }
  &__secondary {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 1.5rem 0;
  }
  &__tart {
    font-size: 1.4rem;
    // font-style: italic;
    font-weight: 300;
  }
}
