.all-blogs-section {
  padding: 0 0 1.5rem 0;

  & .row-inner {
    align-items: stretch;

    & [class*="col-"] {
      margin-bottom: 2rem;
    }
  }
}

// ::: preview post card :::
.pre-post {
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__img {
    width: 100%;
    transition: all 0.4s ease-in-out;
    backface-visibility: hidden;
    cursor: pointer;
    filter: contrast(0.95);
  }
  &:hover &__img {
    transform: scale(1.2);
    filter: contrast(1);
  }

  &__body {
    padding: 0.5rem 1rem;
    background-color: $color-primary-lightest;
    color: $color-black;
    position: relative;
    z-index: 9;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 10rem;
  }
  &__title {
    font-size: 1.6rem;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  &__author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    & a {
      margin-right: 1rem;
    }
    & i {
      color: $color-primary-dark;
    }
  }
}
