.hero-area {
  margin: 2rem 0;
  & .container {
    box-shadow: $shadow-subtle;
    padding: 0 2rem;
  }
  .card {
    border: none;
    box-shadow: $shadow-subtle;

    & .card-img-top {
      max-height: 20rem;
      object-fit: cover;
      object-position: center;
      background-color: $color-primary-lightest;
    }
    & .card-body {
      font-weight: 500;
      text-align: center;
      font-size: 2.5rem;
      padding: 2rem 0;
      color: $color-white;
      background-color: $color-primary;
      //   color: $color-primary;
      //   background-color: $color-white;
    }
  }
}

.heading-banner {
  font-family: "Roboto";
  & .container {
    box-shadow: $shadow-subtle;

    background-color: $color-white;
    color: $color-black;
    // box-shadow: $shadow-section;
    padding: 4rem 5rem;

    @include respondMax(400px) {
      max-width: 95%;
    }
  }
  &__text {
    font-size: 4rem;
    font-weight: 300;
    &--sm {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  &__count {
    font-size: 4.5rem;
    margin: 2rem 0;
    font-weight: 300;
  }
  &__label {
    font-size: 2rem;
  }
}
