.heading-banner {
  font-family: "Roboto";
  & .container {
    background-color: $color-white;
    color: $color-black;
    padding: 2rem 5rem;
    @include respondMax(400px) {
      max-width: 95%;
    }
  }
  &__text {
    font-size: 4rem;
    font-weight: 300;

    &--sm {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  // &--global {
  //   & [class*="col-"] {
  //     border: 1px solid red;
  //   }
  // }
}

.hero-area {
  margin: 2rem 0;
  & .container {
    padding: 0 2rem;
  }
}

//custom lif-card
.lif-card {
  padding: 2rem 0 1rem 0;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: $color-primary-lightest;
  // box-shadow: 2px 2px 5px rgba($color-black, 0.2);

  &__img {
    width: 10rem;
    border-radius: 50%;
    margin: 0 auto;
    // box-shadow: 1px 4px 1px rgba($color-black, 0.2);
  }
  &__body {
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
    color: $color-black;
  }
}

// ::: blog-cards :::
.blog-card {
  display: flex;
  flex-direction: column;
  max-height: 30rem;
  background-color: $color-white;

  &__up {
    height: 17rem;
  }
  &__up {
    @include bgCover();
    &--1 {
      background-image: url("../img/vaccine-news.jpg");
    }
    &--2 {
      background-image: url("../img/news-2.jpg");
      background-position: top;
    }
    &--3 {
      background-image: url("../img/news-3.jpg");
    }
    &--4 {
      background-image: url("../img/news-4.jpg");
    }
  }
  &__down {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__info {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px;
    color: $color-primary-dark;
    margin-bottom: 0;

    & a:hover {
      text-decoration: underline;
    }
  }
  &__date {
    font-size: 1.4rem;
    font-style: italic;
    margin: 0.5rem 0;
  }
  &__desc {
    line-height: 20px;
  }
}

//::: count cards :::
.count-card {
  box-shadow: $shadow-subtle;
  text-align: center;
  background-color: $color-primary-lightest;

  & h3 {
    color: $color-white;
    padding: 5px 0;
    margin: 0 0;
    font-size: 2rem;
    font-weight: 500;
  }
  & p {
    font-size: 4.5rem;
    font-weight: 300;
  }
  & box-icon {
    fill: $color-primary-dark;
    width: 6rem;
    height: 6rem;
    transition: all 0.2s;
  }

  // &:hover box-icon {
  //   // fill: $color-primary;
  // }

  &--blue {
    & h3 {
      background-color: $color-primary-dark;
    }
    & p {
      color: $color-primary-dark;
    }
  }
  &--orange {
    & h3 {
      background-color: $color-secondary;
    }
    & p {
      color: $color-secondary-dark;
    }
  }
  &--icon {
    & h3 {
      background-color: $color-primary-dark;
    }
    &:hover {
      cursor: pointer;
      background-color: $color-primary-lighter;
    }
  }
}
