section .container,
.footer .container {
  background-color: $color-white;
  color: $color-black;
  padding: 2rem 5rem;
  @include respondMax(991px) {
    max-width: 95%;
  }
  @include respondMax(767px) {
    padding: 1.5rem 3rem;
  }
}

.heading-banner,
.blogs-section {
  font-family: "Roboto";
  & p {
    margin-bottom: 0;
  }
  &__text {
    font-size: 4rem;
    font-weight: 300;
    @include respondMax(575px) {
      font-size: 2.5rem;
      font-weight: 400;
    }

    &--sm {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
}

.hero-area {
  margin: 2rem 0;
  @include respondMax(767px) {
    margin: 1rem 0;
  }
  & .container {
    padding: 0 2rem;
  }
  & [class*="col-"] {
    @include respondMax(575px) {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

//custom lif-card
.lif-card {
  padding: 2rem 0 1rem 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: $color-primary-lightest;
  // box-shadow: 2px 2px 5px rgba($color-black, 0.2);

  &__img {
    width: 15rem;
    margin: 0 auto;
    @include respondMax(767px) {
      width: 10rem;
    }
  }
  &__body {
    // margin-top: 10px;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    color: $color-black;

    @include respondMax(575px) {
      font-size: 1.6rem;
    }
  }
}

.blogs-section {
  margin: 2rem 0;
}

// ::: blog-cards :::
.blog-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-primary-lightest;

  &__up {
    height: 17rem;
  }
  &__up {
    @include bgCover();
    &--1 {
      background-image: url("../img/vaccine-news.jpg");
    }
    &--2 {
      background-image: url("../img/news-2.jpg");
    }
    &--3 {
      background-image: url("../img/news-3.jpg");
    }
    &--4 {
      background-image: url("../img/news-4.jpg");
    }
  }
  &__down {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__body {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px;

    margin-bottom: 0;
    & a {
      color: $color-primary-dark;
    }
    & a:hover {
      text-decoration: underline;
    }
  }
  &__date {
    font-size: 1.4rem;
    font-style: italic;
    margin: 0.5rem 0;
  }
  &__desc {
    line-height: 20px;
  }
}

//::: count cards :::
.count-card {
  box-shadow: $shadow-subtle;
  text-align: center;
  background-color: $color-primary-lightest;
  height: 100%;

  & h3 {
    color: $color-white;
    padding: 5px 0;
    margin: 0 0;
    font-size: 2rem;
    font-weight: 500;
  }
  &__body {
    font-size: 4.5rem;
    font-weight: 300;
  }

  & box-icon {
    width: 4rem;
    height: 4rem;
  }

  &:hover box-icon {
    fill: $color-primary;
  }

  &__loader {
    width: 2rem;
    height: 2rem;
    fill: $color-primary-dark;
    transition: all 0.2s;
  }

  &--blue {
    & h3 {
      background-color: $color-primary-dark;
    }
    & .count-card__body {
      color: $color-primary-dark;
    }
  }
  &--orange {
    & h3 {
      background-color: $color-secondary;
    }
    & .count-card__body {
      color: $color-secondary-dark;
    }
  }
}
