.blog-header {
  margin: 2rem 0;
}

.card-img-sm {
  object-fit: cover;
  height: 8rem;
  width: 8rem;
  background-color: $color-grey;
  &--white {
    background-color: $color-white;
  }
}

.s-post {
  //   background-color: $color-grey;
  &__img {
    width: 100%;
  }
  &__content {
    background-color: $color-white;
    margin-top: -10rem;
    padding: 1.5rem;
  }
  &__title {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 50px;
    // color: $color-primary-dark;
    @include respondMax(850px) {
      font-size: 2.5rem;
      line-height: 36px;
    }
  }
  &__desc {
    font-size: 1.8rem;
    line-height: 35px;
  }
  &__info {
    display: flex;
    // justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #777777;
  }
  &__date {
    & i {
      font-size: 2rem;
      color: $color-primary;
      margin-right: 0.5rem;
    }
  }
  &__author {
    & i {
      font-size: 2rem;
      color: $color-primary;
      margin-right: 0.5rem;
    }
  }
  &__footer {
    padding: 1.5rem;
  }
  &__tag {
    & span {
      margin-right: 1rem;
    }
    & a {
      margin-right: 0.5rem;
      font-size: 1.2rem;
    }
  }
  &__link {
    & a {
      margin-right: 0.5rem;
    }
    & i {
      font-size: 1.8rem;
    }
  }

  //   ::: sidebar styles :::
  &__sidebar {
    display: flex;
    flex-direction: column;
  }
  &__list-title {
    text-align: right;
    @include respondMax(767px) {
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @include respondMax(767px) {
      align-items: center;
      & a {
        margin: 0 1rem;
      }
    }
    @include respondMax(575px) {
      & a {
        font-size: 1.4rem;
      }
    }
  }
}

// ::: single horizontal cards :::
.sp-hori {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  &--sm {
    justify-content: flex-start;
  }
  @include respondBetween(430px, 575px) {
    // justify-content: space-around;
    // border: 1px solid red;
  }
  &__info {
    margin: 0 auto;

    & a {
      font-size: 1.4rem;
    }

    @include respondBetween(430px, 575px) {
      margin: 0 0;
    }
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 500;
  }
  &__tag {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }
  &__price {
    // margin-top: 1.5rem;
    // margin-bottom: 2rem;
    & span {
      font-size: 1.8rem;
      font-weight: 500;
    }
    & del {
      font-size: 1.4rem;
    }
  }
  &__cta {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    & a {
      flex: 0 0 50%;
    }

    i {
      width: 80%;
      margin: 0 auto;
      color: $color-primary;
      background-color: $color-white;
      padding: 2px 10px;
      border-radius: 3px;
      box-shadow: $shadow-subtle;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
